body {
    background-color:rgb(226, 226, 226);
    margin: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 8px;
    width: 80%;
    border: 2px solid black;
    /*text-align: center;
    margin: 0 auto;
    */
}

.container h1 {
    display: flex;
}

#todo-form {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

#todo-form input {
    flex-grow: 1;
    text-align: left;
    padding: 10px;
    border: 0.5px solid grey;
}

#todo-form button {
    color: white;
    background-color: green;
    padding: 10px;
    border: none;
}

#todo-list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    list-style-type: none;
    font-size: 24px;
    text-align: left;
    padding: 0;
}
#todo-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid grey;
    padding: 5px;
    background-color:rgb(226, 226, 226);
}

#todo-list button {
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: white;
    background-color: rgb(227, 8, 8);
    padding: 3px;
    border: none;
}